body{

   font-family: Arial;

}

h1{

   text-align: center;

}

.persona1{

   background-color: lightblue;

   padding: 20px;

}




.persona2{

   background-color: lightblue;

    color: grey;
    
    family-size: 25px;

   padding: 20px;

}
